
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <br />
    <br />
    <p style="text-align:center;font-family:Calibri;color:cadetblue;font-size:50px">ŞİFREMİ UNUTTUM</p>
    <br />
    <div class="offset-2">
        <form method="post" action="ForgotPassword">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="alert col-9" style="text-align:center;color:red">@ViewBag.error</div>
                </div>
                <div class="form-group">
                    <input type="email" name="userEmail" class="form-control col-9" placeholder="Emailinizi Giriniz" required />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary col-9">YENİ ŞİFRE İSTE</button>
                </div>
            </div>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

